<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.lanou"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- 数据库驱动 -->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!-- url -->
        <property name="url" value="jdbc:mysql://localhost:3306/crm"/>
        <!-- 用户名 -->
        <property name="username" value="root"/>
        <!-- 密码 -->
        <property name="password" value="12332133"/>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!--引入dbcp数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置hibernate属性,原Hibernate配置文件中的可选项-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql"/>
                <prop key="hibernate.format_sql"/>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!--<prop key="hibernate.current_session_context_class">thread</prop>-->
            </props>
        </property>

        <!--3.加载实体类Hibernate的映射文件
            自动匹配resource目录下所有.hbm.xml后缀文件-->
        <property name="mappingLocations" value="classpath:resources/*.hbm.xml"/>

    </bean>


    <!-- 3.配置事物对象(切面) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- 4.配置事物属性 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*"/>
            <tx:method name="delete*"/>
            <tx:method name="update*"/>
            <tx:method name="find*"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <!-- 5.配置spring aop -->
    <aop:config>
        <!-- 配置切入点 -->
        <aop:pointcut id="pointcut" expression="execution(* com.lanou.*.service.impl.*.*(..))"/>
        <!-- 配置通知-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
    </aop:config>

    <!-- 配置dao层 -->
    <bean id="departmentDao" class="com.lanou.hr.dao.impl.DepartmentDaoImpl">
        <!-- 给dao层实现类中的sessionFactory进行赋值 -->
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="postDao" class="com.lanou.hr.dao.impl.PostDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="staffDao" class="com.lanou.hr.dao.impl.StaffDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="baseDao" class="com.lanou.hr.dao.impl.BaseDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="classesDao" class="com.lanou.teach.dao.impl.ClassesDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="courseTypeDao" class="com.lanou.teach.dao.impl.CourseTypeDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="referDao" class="com.lanou.refer.dao.impl.ReferDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="followDao" class="com.lanou.refer.dao.impl.FollowDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>